.sidebar {
  width: 135px;
  height: 100%;
  background: #4b5a68;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  padding-top: 20px;
  margin-right: 40px;
}
.sidebar-content {
  text-align: left;
}

.sidebar-content ul {
  list-style: none;
  padding: 0;
}

.sidebar-content li {
  margin: 15px 0;
  cursor: pointer;
}

/*Header*/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 135px);
  height: 118px;
  position: fixed;
  left: 135px;
}

.name-and-date {
  width: 300px;
  text-align: left;
  padding-left: 20px;
  margin-bottom: 10px;
}

.name-and-date h2 {
  font-size: 24px;
  font-weight: 500;
  color: #4b5a68;
  margin-bottom: 4px;
}

.name-and-date p {
  font-size: 16px;
  font-weight: 300;
  color: #ada7a7;
  margin: 0;
}
